[submodule "zeroreserve"]
	path = zeroreserve
	url = https://github.com/zeroreserve/ZeroReserve.git
[submodule "paintchat"]
	path = paintchat
	url = https://github.com/electron128/Retroshare-Paintchat-Plugin.git
[submodule "rswebui"]
	path = rswebui
	url = https://gitorious.org/rswebui/rswebui.git
[submodule "friendmap"]
	path = friendmap
	url = https://github.com/chozabu/FriendMap.git


